<div class="landing-page vh-100 text-white text-center d-flex justify-content-center align-items-center">
  <div class="overlay"></div>
  <div class="content position-relative animate__animated animate__fadeIn">
    <h1 class="display-4 stylish-text mb-4">
      Welcome to <span class="highlight">Evvento</span>
    </h1>
    <p class="tagline fs-5 mb-5">
      Effortless event management, tailored for you.
    </p>
    <a
      routerLink="/all-events"
      class="btn btn-info px-4 py-2 shadow-lg rounded-pill fw-bold browse-btn"
    >
      Browse Events
    </a>
  </div>
</div>
