<div class="landing-page vh-100 text-white text-center d-flex justify-content-center align-items-center">
    <div class="overlay"></div>
    <div class="content position-relative">
      <h1 class="display-3 stylish-text mb-3">
        Welcome to <span class="highlight">Evvento</span>
      </h1>
      <p class="tagline mb-4">
        Effortless event management, tailored for you.
      </p>
      <a
        routerLink="/all-events"
        class="btn btn-outline-info browse-btn px-4 py-2"
      >
        Browse Events
      </a>
    </div>
  </div>
  